@media screen and (max-width: 850px) {
    .hideClass {
        display: none !important;
    }
}

.imageAnimation:hover {
    -webkit-animation: tada 1s;
    animation: tada 1s;
}

.defaultBold {
    color: rgb(0,0,0);
    font-weight: 500;
}

.reebeeBold{
    color: rgb(53,172,254);
    font-weight: 500;
}

.drwBold{
    color: rgb(56,85,120);
    font-weight: 500;
}

.smartBold{
    color: rgb(89,43,131);
    font-weight: 500;
}

.ecHacksBold{
  color: rgb(19,100,63);
  font-weight: 500;
}

.conUHacksBold{
  color: rgb(51,51,51);
  font-weight: 500;
}

.hackTheValleyBold{
  color: rgb(178,211,78);
  font-weight: 500;
}

.hackTheNorthBold{
  color: rgb(0,112,150);
  font-weight: 500;
}
.cardText {
    text-align: justify;
}

.spacing {
    margin-bottom: 1.5%;
}
.hexagon {
    position: relative;
    width: 13.02083vw;
    height: 7.517vw;
    background-color: #ffffff;
    margin: 3.759vw 0;
    box-shadow: 0 0 1.302vw rgba(0,0,0,0.3);
    outline: none;
}

.hexagonBlack{
    border-left: solid 0.325vw #333333;
    border-right: solid 0.325vw #333333;
}

.hexagonGreen{
    border-left: solid 0.325vw #13643F;
    border-right: solid 0.325vw #13643F;
}

.hexagonBlue{
    border-left: solid 0.325vw #B2D34E;
    border-right: solid 0.325vw #B2D34E;
}

.hexagonDarkBlue{
    border-left: solid 0.325vw #007096;
    border-right: solid 0.325vw #007096;
}


.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 9.207vw;
    height: 9.207vw;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 1.581vw;
    box-shadow: 0 0 1.30vw rgba(0,0,0,0.3);
}

.hexagon:before {
    top: -4.6035vw;
}

.hexagonBlack:before{
    border-top: solid 0.46035vw #333333;
    border-right: solid 0.46035vw #333333;
}

.hexagonGreen:before{
    border-top: solid 0.46035vw #13643F;
    border-right: solid 0.46035vw #13643F;
}

.hexagonBlue:before{
    border-top: solid 0.46035vw #B2D34E;
    border-right: solid 0.46035vw #B2D34E;
}

.hexagonDarkBlue:before{
    border-top: solid 0.46035vw #007096;
    border-right: solid 0.46035vw #007096;
}

.hexagon:after {
    bottom: -4.6035vw;
}

.hexagonBlack:after{
    border-bottom: solid 0.46035vw #333333;
    border-left: solid 0.46035vw #333333;
}

.hexagonGreen:after{
    border-bottom: solid 0.46035vw #13643F;
    border-left: solid 0.46035vw #13643F;
}

.hexagonBlue:after{
    border-bottom: solid 0.46035vw #B2D34E;
    border-left: solid 0.46035vw #B2D34E;
}

.hexagonDarkBlue:after{
    border-bottom: solid 0.46035vw #007096;
    border-left: solid 0.46035vw #007096;
}

/*cover up extra shadows*/
.hexagon span {
    display: block;
    position: absolute;
    top:0.1879395vw;
    left: 0;
    width:12.3697vw;
    height:7.1417vw;
    z-index: 2;
    background: inherit;
}

.popover{
    max-width: 25%;
}

.flipCard{
  background-color: transparent;
  perspective: 1000px;
  box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
}

.flipCardInner {
  position:relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner{
  transform:rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position:absolute;
  backface-visibility: hidden;
}

.flipCardBack{
  transform: rotateY(180deg);
}

.carousel-inner,.carousel,.carousel-item,.fill {
    height:100%;
    min-height:400px;
    width:100%;
    background-position:center center;
    background-size:cover;
}

.carouselCard{
  position: absolute;
  margin-left:100%;
}

.carouselCardItem{
  height: 58px;
  opacity: 0.5;
  cursor: pointer;
}

.activeCarouselCard{
  opacity: 1;
  border-left: solid;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    transition: 2s;
}

.preloader:before{
    content: '';
    position: absolute;;
    left: 0;
    width: 50%;
    height: 100%;
    background: #EAE7DC;
    transition: 2s;
}

.preloader.complete:before{
    left: -50%;
}

.preloader:after{
    content: '';
    position: absolute;;
    right: 0;
    width: 50%;
    height: 100%;
    background:#EAE7DC;
    transition: 2s;
}

.preloader.complete:after{
    right: -50%;
}

.preloader.complete{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.stopScrolling{
    overflow: hidden;
}
.loaderImage{
    position: absolute;
    top: 30%;
    left:42.7%;
    max-width: 14vw;
    z-index: 1040;
    animation-duration: 2s;
}

.loaderText{
    position: absolute;
    top: 57.5%;
    z-index: 1040;
    left: 43.8%;
    font-size: 1.55vw;
    animation-duration: 2s;
}



